{% extends "base.html" %}

{% block title %}專管小幫手好友名冊{% endblock %}

{% block main %}
  <div class="container">
    <h2>好友名單</h2>
  </div>
  <div class="container table-bordered table-hover table-striped" style="margin: 4em auto; height: 150%;">
    <div class="row table-primary table-bordered">
      <div class="col">
        <h4>序號</h4>
      </div>
      <div class="col">
        <h4>Line顯示名稱</h4> 
      </div>
      <div class="col">
        <h4>教會名稱</h4>
      </div>
      <div class="col">
        <h4>區域</h4> 
      </div>
    </div>

  <!-- 宣告一個巨集 -->
  {% macro easy_row(data, tag) -%}
    {% for record in data %}
    <div class="row table-light table-bordered">
      {% for item in record %}
      <div class="col table-bordered">
      <{{ tag }}>{{ item }}</{{ tag }}>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  {%- endmacro %}

  <!-- 將所有草泥馬的訓練紀錄列在下面 -->
  {{ easy_row(html_records, "p") }}
  
  </div>

{% endblock %}
